@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
      font-family: "e-Ukraine",sans-serif;
      font-weight: 400;
}

@font-face {
      font-family: 'e-Ukraine';
      src: url('../font/e-Ukraine-Regular.eot');
      src: url('../font/e-Ukraine-Regular.woff') format("woff"),
            url('../font/e-Ukraine-Regular.woff2') format('woff2'),
            url('../font/e-Ukraine-Regular.ttf') format('truetype');
      font-style: normal;
      font-weight: 400;
}

@font-face {
      font-family: 'e-Ukraine';
      src: url('../font/e-Ukraine-Medium.eot');
      src: url('../font/e-Ukraine-Medium.woff') format("woff"),
            url('../font/e-Ukraine-Medium.woff2') format('woff2'),
            url('../font/e-Ukraine-Medium.ttf') format('truetype');
      font-style: normal;
      font-weight: 500;
}

@font-face {
      font-family: 'e-Ukraine';
      src: url('../font/e-Ukraine-Bold.eot');
      src: url('../font/e-Ukraine-Bold.woff') format("woff"),
            url('../font/e-Ukraine-Bold.woff2') format('woff2'),
            url('../font/e-Ukraine-Bold.ttf') format('truetype');
      font-style: normal;
      font-weight: 700;
}

@font-face {
      font-family: 'e-Ukraine';
      src: url('../font/e-Ukraine-Light.eot');
      src: url('../font/e-Ukraine-Light.woff') format("woff"),
            url('../font/e-Ukraine-Light.woff2') format('woff2'),
            url('../font/e-Ukraine-Light.ttf') format('truetype');
      font-style: normal;
      font-weight: 300;
}

@font-face {
      font-family: 'e-Ukraine';
      src: url('../font/e-Ukraine-UltraLight.eot');
      src: url('../font/e-Ukraine-UltraLight.woff') format("woff"),
            url('../font/e-Ukraine-UltraLight.woff2') format('woff2'),
            url('../font/e-Ukraine-UltraLight.ttf') format('truetype');
      font-style: normal;
      font-weight: 200;
}

@font-face {
      font-family: 'e-Ukraine';
      src: url('../font/e-Ukraine-Thin.eot');
      src: url('../font/e-Ukraine-Thin.woff') format("woff"),
            url('../font/e-Ukraine-Thin.woff2') format('woff2'),
            url('../font/e-Ukraine-Thin.ttf') format('truetype');
      font-style: normal;
      font-weight: 100;
}






@font-face {
      font-family: 'e-UkraineHead';
      src: url('../font/e-UkraineHead-Bold.eot');
      src: url('../font/e-UkraineHead-Bold.woff') format("woff"),
            url('../font/e-UkraineHead-Bold.woff2') format('woff2'),
            url('../font/e-UkraineHead-Bold.ttf') format('truetype');
      font-style: normal;
      font-weight: 700;
}

@font-face {
      font-family: 'e-UkraineHead';
      src: url('../font/e-UkraineHead-Light.eot');
      src: url('../font/e-UkraineHead-Light.woff') format("woff"),
            url('../font/e-UkraineHead-Light.woff2') format('woff2'),
            url('../font/e-UkraineHead-Light.ttf') format('truetype');
      font-style: normal;
      font-weight: 300;
}

@font-face {
      font-family: 'e-UkraineHead';
      src: url('../font/e-UkraineHead-Medium.eot');
      src: url('../font/e-UkraineHead-Medium.woff') format("woff"),
            url('../font/e-UkraineHead-Medium.woff2') format('woff2'),
            url('../font/e-UkraineHead-Medium.ttf') format('truetype');
      font-style: normal;
      font-weight: 500;
}

@font-face {
      font-family: 'e-UkraineHead';
      src: url('../font/e-UkraineHead-Regular.eot');
      src: url('../font/e-UkraineHead-Regular.woff') format("woff"),
            url('../font/e-UkraineHead-Regular.woff2') format('woff2'),
            url('../font/e-UkraineHead-Regular.ttf') format('truetype');
      font-style: normal;
      font-weight: 400;
}


@font-face {
      font-family: 'e-UkraineHead';
      src: url('../font/e-UkraineHead-Thin.eot');
      src: url('../font/e-UkraineHead-Thin.woff') format("woff"),
            url('../font/e-UkraineHead-Thin.woff2') format('woff2'),
            url('../font/e-UkraineHead-Thin.ttf') format('truetype');
      font-style: normal;
      font-weight: 100;
}

@font-face {
      font-family: 'e-UkraineHead';
      src: url('../font/e-UkraineHead-UltraLight.eot');
      src: url('../font/e-UkraineHead-UltraLight.woff') format("woff"),
            url('../font/e-UkraineHead-UltraLight.woff2') format('woff2'),
            url('../font/e-UkraineHead-UltraLight.ttf') format('truetype');
      font-style: normal;
      font-weight: 200;
}


@font-face {
      font-family: 'e-Ukraine-Logo';
      src: url('../font/e-UkraineHead-LOGO.eot');
      src: url('../font/e-UkraineHead-LOGO.woff') format("woff"),
            url('../font/e-UkraineHead-LOGO.woff2') format('woff2'),
            url('../font/e-UkraineHead-LOGO.ttf') format('truetype');
      font-style: normal;
      font-weight: 400;
}







